.movie {
  position: relative;
  flex: 0 0 300px;
  height: 550px;
  overflow: hidden;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 6rem;
  }

  &:hover {
    .bg {
      transform: scale(1.05);
      opacity: 0.5;
    }
    .btn {
      opacity: 1;
    }
  }

  .bg {
    width: 300px;
    height: 450px;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: all 100ms ease-in;
  }

  .btn {
    position: absolute;
    background: none;
    color: white;
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    opacity: 0;
    width: 60%;
    cursor: pointer;

    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
  }

  .title {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem 0 1rem 0;
  }

  .published-year {
    font-size: 1.5rem;
  }
}
